.layer {
  bottom: 40px;
  left: 10%;
  width: 80%;
  margin: auto;
}
.item {
  cursor: pointer;
}
.lightBoxContainer {
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}
.lightBox {
  width: 600px;
  height: 600px;
  background-image: url(../images/about.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}
.lightBox i {
  font-size: 27px;
  cursor: pointer;
}
.lightBox #close {
  position: absolute;
  top: 10px;
  right: 10px;
}
